*{
    margin: auto;
    text-align: center;
    padding: 5px;
}
body{
    color: dimgray;
    font-family: "Goudy Old Style" ;
}

img{
    height: 40px;
}

div#viewallusers img, div#viewallfriends img{
    height: 80px;
}

img#profilepic{
    height: 160px;
}